:root{
    --selected-nav-height: 110px;
    --nav-type: calc(16px/1.3);
}


@media (min-width: 500px) {
    :root{
        --selected-nav-height: 70px;
 }
 }

 @media (min-width: 545px) {
    :root{
        --nav-type: 16px;
 }
 }

 @media (min-width: 700px) {
    :root{
        --nav-type: 18px;
 }
 }


@media (min-width: 900px) {
   :root{
    --heading: 5vw;
    --heading-leading: 5.5vw;
}
}

@media print{

    @page{
        margin: 0.65in;
    }

    :root{
        --heading: calc(var(--base) * 2.8);
        --heading-leading: calc(var(--base) * 3.3);

        --selected-nav-height: 20px;
    
        font-family: 'Lora', serif;
    
        color: black;
    }
}

a:hover{
    color: #FFC700;
}

.entry1{
    background-color: #FF5C00;
    top: calc(var(--nav-height) * 2 - 42px);
}

.entry2{
    background-color: #379FFF;
    top: calc(var(--nav-height) * 3 - 44px);
}

.entry3{
    height: var(--selected-nav-height);
    top: calc(var(--nav-height) * 4 - 46px);
}

.nav{
    transition: 0.2s ease;
}

h2{
    margin-top: 228px;
}

footer{
    margin: 0px;
}

.mobile-title{
    font-size: 35px;
    line-height: 40px;
    font-weight: 100;
    margin-top: 8px;
    transition: 0.2s ease;
}

.desktop-title{
    font-size: calc(var(--base)/1.2);
    line-height: calc(var(--leading)/1.9);
    width: 600px;
    position: relative;
    top: 306px;
    left: -295px;
    max-width: 100ch;
    transform: rotate(90deg);
}

h1{
    display: none;
}

blockquote{
    font-size: calc(var(--base) * 1.2);
    line-height: calc(var(--leading) * 1.2);
    /* max-width: 50ch; */
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.block-line{
    height: 110px;
    width: 15px;
    margin-top: 8px;
    background-color: #FFC700;;
    margin-right: 15px;
}

.shorter{
    height: 79px;
}

.last-paragraph-margin{
    margin-bottom: 56px;
}

@media (min-width: 397px) {
    h2{
        margin-top: 232px;
    }
}

@media (min-width: 407px) {
.block-line{
    height: 80px;
}

.tall{
    height: 110px; 
}
}

@media (min-width: 449px) {
    .tall{
        height: 80px; 
    }
}

@media (min-width: 482px) {
    .exit{
        height: 48px; 
    }
}


@media (min-width: 500px) {
    h2{
        margin-left: auto;
        margin-right: auto;
        margin-top: 191px;
        width: 552px;
    }

    blockquote{
        margin-left: auto;
        margin-right: auto;
        width: 515px;
    }

    p{
        margin-left: auto;
        margin-right: auto;
    }

    .block-line{
        height: 46px;
    }

    .tall{
        height: 75px;
    }
}


@media (min-width: 533px) {
    .selected-page{
        max-width: 30ch;
    }
    h2{
        margin-top: 190px;
    }
}

@media (min-width: 549px) {
    h2{
        margin-top: 195px;
    }
}

@media (min-width: 581px) {
    blockquote{
        width: 552px;
    }
}

@media (min-width: 700px) {
    h1{
        margin-left: 0px;
    }

    h2{
        width: 679px;
    }

    blockquote{
        width: 695px;
    }

    .block-line{
        height: 60px;
    }

    .tall{
        height: 99px;
    }
}


@media (min-width: 1050px) {
    h1{
        display: block;
        font-size: var(--heading);
        line-height: var(--heading-leading);
        margin-left: 26%;
        max-width: 20ch;
        margin-top: 20px;
    }

    h2{
        margin-left: 26%;
        margin-top: 40px;
    }

    p{
        width: 75%;
        margin-left: 26%;
    }
    
    blockquote{
        margin-left: 26%;
    }

    .block-line{
        height: 60px;
    }

    .tall{
        height: 100px;
    }

    .nav{
        width: calc(var(--nav-height) * 1.2);
        height: 100%;
        margin-left: 0px;
        top: 0px;
    }

    .nav-text{
        font-size: 19px;
        line-height: calc(var(--leading)/1.9);
        width: 600px;
        position: relative;
        top: 306px;
        left: -295px;
        max-width: 110ch;
        transform: rotate(90deg);
        margin-top: 4px;
    }

    .selected-page{
        font-weight: 200;
    }

    .entry1{
        left: calc(var(--nav-height) + 6px);
    }

    .entry2{
        left: calc(var(--nav-height)*2 + 12px);
    }

    .entry3{
        left: calc(var(--nav-height)*3 + 18px);
    }

    .last-paragraph-margin{
        margin-bottom: 50px;
    }
}


@media (min-width: 1100px) {
    h1{
        max-width: 20ch;
        margin-left: 25%;
        margin-right: 25%;
    }

    h2{
        /* font-size: calc(var(--heading)/2.6);
        line-height: calc(5.5vw / 2.2); */
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 30px;
    }

    p{
        margin-left: 25%;
        margin-right: 25%;
    }

    blockquote{
        margin-left: 25%;
    }

    .block-line{
        height:69px;
    }

    .tall{
        height: 105px;
    }
}

@media (min-width: 1200px) {
    blockquote{
        margin-left: 25%;
        width: 799px;
    }
}

@media print{
    h1{
        display: block;
        max-width: 20ch;
        margin-top: 80px;
        margin-left: 62px;
    }

    h2{
        margin-top: 30px;
        margin-left: 62px;
    }

    p{
        /* max-width: 50ch; */
    }

    blockquote{
        margin-left: 62px;
    }

    .block-line{
        width: 10px;
        /* height: 44px; */
    }

    .nav{
        height: 20px;
        left: 16px;
    }

    .home{
        top: 0px;
    }

    .entry1{
        top: 18px;
    }

    .entry2{
        top: 36px;
    }

    .entry3{
        top: 54px;
    }
}



