@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@font-face {
	font-family: 'PP Radio Grotesk';
	src: url('PPRadioGrotesk-Regular.otf') format('truetype');
    font-weight: 100;
 }

 @font-face {
	font-family: 'PP Radio Grotesk';
	src: url('PPRadioGrotesk-Bold.otf') format('truetype');
    font-weight: 200;
 }

:root{
    --base: 16px;

    --heading: 16vw;

    --leading: 25px;

    --heading-leading: 16vw;

    --paragraph-spacing: 20px;

    --nav-height: 40px;

    font-family: 'Lora', serif;

    color: black;
}


@media (min-width: 700px) {
    :root{
        --base: 20px;

        --leading: 32px;

        --heading: calc(16vw /1.2);

        --heading-leading: calc(16vw /1.2);
    }
}


@media (min-width: 900px) {
    :root{
        --base: 18px;

        --leading: 30px;

        --heading: 12.5vw;

        --heading-leading: 12.5vw;
    }
}

@media (min-width: 970px) {
    :root{
        --base: 20px;

        --leading: 34px;
    }
}

@media (min-width: 1200px) {
    :root{
        --base: 22px;

        --leading: 36px;
    }
}

@media (min-width: 1400px) {
    :root{
        --base: 24px;

        --leading: 44px;
    }
}

.rectangle{
    border: solid black 2px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.green-line{
    height: 2px;
    width: 90%;
    margin-left: 14%;
    background-color: #1BB502;
    position: relative;
    top: 25px;
    margin-left: 5px;
    margin-bottom: 40px;
}


body{
    padding: var(--base);
}

a{
    color: rgb(161, 161, 161);
    text-decoration: underline;
}

a:hover{
    cursor: pointer;
    color: #1BB502;
}

h1{
    font-size: var(--heading);
    line-height: var(--heading-leading);
    font-family: 'PP Radio Grotesk';
    font-weight: 100;
    max-width: 12ch;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
}

h2{
    font-family: 'PP Radio Grotesk';
    font-size: calc(var(--base) *1.3);
    font-weight: 100;
    letter-spacing: 1px;
    line-height: calc(var(--leading));
    margin-left: 5px;
    margin-top: 25px;
}

p{
    font-size: var(--base);
    max-width: 50ch;
    line-height: var(--leading);
    margin-top: var(--paragraph-spacing);
    margin-left: 5px;
    margin-right: 5px;
}

.last-paragraph-margin{
    margin-bottom: 125px;
}

em{
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: smaller;
}


.nav{
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    margin-left: -16px;
    border: solid black 2px;
    transition: 0.2s ease;
}

.nav a{
    text-decoration: none;
}

.home{
    background-color: #1BB502;
    top: 0px;
}

.entry1{
    background-color: #FF5C00;
    bottom: calc(var(--nav-height) * 2 - 4px);
}

.entry2{
    background-color: #379FFF;
    bottom: calc(var(--nav-height) - 2px);
}

.entry3{
    background-color: #FFC700;
    bottom: 0px;
}

.nav-text{
    margin-top: 4px;
    font-family: 'PP Radio Grotesk';
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-left: 20px;
    font-size: calc(16px/1.3);
    line-height: calc(25px/1.9);
    max-width: 30ch;
    color: black;
    text-decoration: none;
}

.one-line{
    margin-top:10px;
}

.selected-page{
    font-weight: 200;
}


/* all of my links - the paragraphs inside make them blue */
a p{
    color: blue;
}

@media (min-width: 500px){
 p{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 700px) {
    .nav{
        margin-left: -20px;
    }

    h1{
        margin-left: 20px;
    }

    h2{
        margin-left: 20px;
    }

    p{
        margin-left: auto;
        margin-right: auto;
    }

    .green-line{
        margin-left: 20px;
    }
}


@media (min-width: 900px) {

    h1{
        width: 70%;
        margin-top: 5px;
        margin-left: 10%;
        max-width: 30ch;
    }


    h2{
        font-size: calc(var(--base) * 1.3);
        margin-left: 10%;
        margin-top: 35px;
        margin-bottom: 40px;
    }

    p{
        width: 75%;
        margin-left: 10%;
        margin-right: auto;
        max-width: 52ch;
    }

    .last-paragraph-margin{
        margin-bottom: 50px;
    }

    .nav{
        width: calc(var(--nav-height) * 1.2);
        height: 100%;
        margin-left: 0px;
        top: 0px;
        right: 0px;
    }

    .home{
        left: 0px;
    }
    
    .entry1{
        right: calc(var(--nav-height) * 2 + 12px);
    }
    
    .entry2{
        right: calc(var(--nav-height) + 6px);
    }
    
    .entry3{
        right: 0px;
    }
    
    .nav-text{
        font-size: 20px;;
        line-height: calc(var(--leading)/1.9);
        width: 600px;
        position: relative;
        top: 306px;
        left: -295px;
        max-width: 100ch;
        transform: rotate(90deg);
    }


    .one-line{
        margin-top:0px;
    }
    
    .green-line{
        width: 69%;
        margin-left: 10%;
        bottom: 0px;
        top: 0px;
    }
}

@media (min-width: 1100px) {

    p{
        max-width: 58ch;
    }
}

@media (min-width: 1200px) {
    p{
        max-width: 58ch;
    }
}
